<div>
  <span class="form-input-moneda">{{ importe.moneda }}</span>
  <input
    type="text"
    class="form-input-importe"
    placeholder="Introduzca un importe"
    [(ngModel)]="importeTXT"
    (focus)="f_convertirATexto()"
    (blur)="f_convertirANumero()"
    (keyup)="f_validarTecla($event)"
  />
  <span *ngIf="importe.importeMonCia"
    >{{ importe.importeMonCia }} {{ importe.monedaMonCia }}</span
  >
  <span *ngIf="!b_importeCorrecto" class="form-input-error">
    Importe incorrecto
  </span>
  <!-- <p>{{ importeTXT }}</p> -->
</div>
