<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <span class="input-group-text">{{ importe.moneda }}</span>
  </div>
  <input
    type="text"
    class="form-control"
    style="text-align: right;"
    placeholder="Introduzca un importe"
    [(ngModel)]="importe.importe"
    [imask]="mask"
    [unmask]="true"
    (focus)="onFocus()"
    (blur)="onBlur()"
    (complete)="onComplete()"
  />
</div>
<ul
  class="list-group list-group-horizontal-sm list-unstyled float-right input-moneda-contravalor"
>
  <li>
    {{ importe.importe }}
  </li>
  <li>{{ importe.importeMonCia }} {{ importe.monedaMonCia }}</li>
</ul>
