<p>pagos works!</p>
<div>
  Lista de monedas: Cargado = {{ listaMonedas.cargada }}<br />
  Lista de tasa de cambio: Cargado = {{ listacambios.cargada }}
</div>

<p>
  <select name="miselect" [(ngModel)]="monedaSeleccionada">
    <option *ngFor="let item of listaMonedas.monedas" [value]="item.codigoIso"
      >{{ item.codigoIso }} {{ item.nombre }}</option
    >
  </select>
</p>
{{ monedaSeleccionada }}

<div class="container">
  <div class="form-group">
    <label for="iBruto">Importe bruto</label>
    <app-input-moneda></app-input-moneda>
  </div>
  <div class="form-group">
    <label for="iDeducible">Importe deducible:</label>
    <app-input-moneda></app-input-moneda>
  </div>
  <div class="form-group">
    <label for="iBase">Importe base</label>
    <app-input-moneda></app-input-moneda>
  </div>
  <div class="form-group">
    <label for="iIVA">IVA</label>
    <app-input-moneda></app-input-moneda>
  </div>
  <div class="form-group">
    <label for="iNeto">Importe Neto</label>
    <app-input-moneda></app-input-moneda>
  </div>
  <div class="form-group">
    <label for="iFranquicia">Importe franquicia</label>
    <app-input-moneda></app-input-moneda>
  </div>
  <div class="form-group">
    <label for="iTotal">Importe final</label>
    <app-input-moneda></app-input-moneda>
  </div>
</div>
